.course-card {
  padding: 15px;

  border-radius: 14px;
  border: 0.5px solid #f2f2f2;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.04);

  &__thumb {
    position: relative;
    padding-top: 60%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &__title {
    margin-top: 16px;
    max-width: 90%;

    color: #292c3f;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 137.5%;
  }

  &__meta {
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lessons {
    display: flex;
    align-items: center;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}
