.events {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__label {
    color: #0166ff;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__heading {
    color: #010101;
    font-size: 4rem;
    font-weight: 600;
    line-height: 135%;
  }

  &__desc {
    width: 35%;
    color: #717171;
    text-align: center;
    font-size: 1.4rem;
    line-height: 142.857%;
  }

  &__list {
    position: relative;
    margin-top: 78px;
  }

  &__decoration {
    &-trees {
      position: absolute;
      z-index: -1;
      top: 0;
      left: -52px;
    }
  }

  &__actions {
    margin-top: 71px;
    display: flex;
    justify-content: center;
  }
}

.event-card {
  display: flex;
  gap: 27px;

  &__thumb {
    flex: 0 0 192px; // không co, không dãn, chiễm 193px trong layout
    overflow: hidden;
    border-radius: 14px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__date {
    margin-top: 22px;
    color: #717171;
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
  }

  &__title {
    margin-top: 14px;
    color: #010101;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
  }

  &__meta {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__time,
  &__location {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #717171;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
