.hero {
  &__content {
  }

  &__badge {
    margin-top: 100px;
    display: flex;
    align-items: center;

    user-select: none;

    &-value {
      padding: 6px 24px;
      border-radius: 16px;
      background: #fb6238;

      color: #fff;
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-text {
      margin-left: 13px;
      color: #010101;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 2.94px;
    }
  }

  &__heading {
    margin-top: 29px;
    color: #010101;
    font-size: 7rem;
    font-weight: 700;
  }

  &__highlight {
    background: linear-gradient(
      269deg,
      #a6cf4a 16.43%,
      #ffd05a 37.58%,
      #fd60a9 54.54%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
  }

  &__desc {
    margin-top: 30px;
    max-width: 444px;
    color: #717171;
    font-size: 1, 6rem;
    line-height: 150%;
  }

  &__actions {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }

  &__cta {
    display: flex;
    align-items: center;

    font-size: 1.6rem;
    font-weight: 600;
  }

  &__play {
    height: 45px;
    padding: 0 22px;
  }

  &__media {
    position: relative;
    width: 100%;
    padding-top: 125%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 71px 0 0 0;
      background-image: linear-gradient(
        71deg,
        #ff60a8 22.92%,
        #ffd05a 62.85%,
        #a6cf4a 96.68%
      );
    }

    z-index: 0;
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
